header {
  padding: 20px 0px 20px;
  border-bottom: 1px solid #d2d2d2;
}
header .menu,
header .logo {
  display: inline-block;
}
header .logo {
  margin-left: 20px;
}
.menu-hidden + .col-md-9 {
  width: 100%;
  transition: all 200ms;
}
.aside-menu + .col-md-9 {
  transition: all 200ms;
  padding: 0;
}
.aside-menu {
  border-right: 1px solid #d2d2d2;
}
html,
body,
.main-wrapper,
.aside-menu {
  height: 100%;
}
div.menu-hidden {
  margin-left: -25%;
  transition: all 200ms;
}
.aside-menu {
  transition: all 200ms;
  margin-left: 0;
}
.aside-menu.col-md-3 {
  padding: 0;
}
.aside-menu nav {
  margin-top: 20px;
}
.aside-menu nav a {
  padding: 20px;
  text-decoration: none;
  display: block;
  color: #000000;
  transition: all 200ms;
}
.aside-menu nav a:hover {
  transition: all 200ms;
  background-color: #d2d2d2;
}
.category {
  height: 150px;
  width: 100%;
  border: 1px solid #80CBC4;
  color: #009688;
  top: 100px;
  margin: 30px;
  font-family: SourceSansPro;
  font-size: 140%;
  font-weight: bold;
  text-align: center;
  line-height: 140px;
  background-color: #FAFAFA;
}
.category:focus {
  outline: 0;
}
.category:hover {
  background-color: #E0F2F1;
}
.filter-container {
  height: 100%;
}
.filters-menu {
  border-right: 1px solid #d2d2d2;
  height: 100%;
  position: relative;
}
.filters-menu h3 {
  margin-bottom: 20px;
}
.advanced {
  background-color: #009688;
  border: 1px solid #00897B;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.advanced:focus {
  outline: 0;
}
.info-message {
  line-height: 500px;
  width: 100%;
  text-align: center;
}
.info-icon {
  background-color: #009688;
  padding: 0px 13px;
  border-radius: 20px;
  font-style: initial;
  color: #ffffff;
}
.filter-results {
  top: 50px;
  width: 80%;
  margin: 0 auto;
}
.editColors {
  background-color: #FAFAFA;
  border: 1px solid #80CBC4;
  color: #009688;
}
.editColors:focus {
  outline: 0;
}
.editColor:hover {
  background-color: #80CBC4;
}
.settings-container {
  margin: 100px;
}
.settings-container label {
  margin-right: 10px;
}
.settingsSave {
  display: block;
  width: 90%;
  margin: 0 auto;
  background-color: #009688;
  border: 1px solid #00897B;
  height: 50px;
  color: #ffffff;
}
.fontBtn {
  background-color: #FAFAFA;
  border: 0px;
  width: 30px;
  margin: 0 15px;
}
.fontBtn-20 {
  font-size: 20px;
}
.fontBtn-25 {
  font-size: 25px;
}
.fontBtn-30 {
  font-size: 30px;
}
.fontBtn-35 {
  font-size: 35px;
}
.body25 {
  background-color: #FAFAFA !important;
  font-family: SourceSansPro !important;
  font-size: 25px !important;
  height: 100%;
}
.body30 {
  background-color: #FAFAFA !important;
  font-family: SourceSansPro !important;
  font-size: 30px !important;
  height: 100%;
}
.body20 {
  background-color: #FAFAFA !important;
  font-family: SourceSansPro !important;
  font-size: 20px !important;
  height: 100%;
}
.body35 {
  background-color: #FAFAFA !important;
  font-family: SourceSansPro !important;
  font-size: 35px !important;
  height: 100%;
}
@font-face {
  font-family: SourceSansPro;
  src: url('../css/fonts/SourceSansPro-ExtraLight.otf');
}
