@media (min-width: 416px) {
  header {
    padding: 20px 0px 20px;
    border-bottom: 1px solid #d2d2d2;
  }
  header .menu,
  header .logo {
    display: inline-block;
  }
  header .logo {
    margin-left: 20px;
  }
  .menu-hidden + .col-md-9 {
    width: 100%;
    transition: all 200ms;
  }
  .aside-menu + .col-md-9 {
    transition: all 200ms;
    padding: 0;
  }
}
@media (max-width: 415px) {
  header {
    padding: 20px 0px 20px;
    border-bottom: 1px solid #d2d2d2;
  }
  header .menu,
  header .logo {
    display: inline-block;
  }
  header .logo {
    margin-left: 20px;
  }
  header .logo img {
    width: 70%;
  }
  header a {
    display: inline-block;
  }
  .menu-hidden + .col-md-9 {
    width: 100%;
    transition: all 200ms;
  }
  .aside-menu + .col-md-9 {
    transition: all 200ms;
    padding: 0;
  }
}
html,
body,
.main-wrapper,
.aside-menu {
  height: 100%;
}
@media (min-width: 992px) {
  div.menu-hidden {
    margin-left: -25%;
    transition: all 200ms;
  }
  .aside-menu {
    transition: all 200ms;
    margin-left: 0;
    border-right: 1px solid #d2d2d2;
  }
  .aside-menu.col-md-3 {
    padding: 0;
  }
  .aside-menu nav {
    margin-top: 20px;
  }
  .aside-menu nav a {
    padding: 20px;
    text-decoration: none;
    display: block;
    color: #000000;
    transition: all 200ms;
  }
  .aside-menu nav a:hover {
    transition: all 200ms;
    background-color: #d2d2d2;
  }
}
@media (min-width: 361px) and (max-width: 992px) {
  div.menu-hidden {
    height: 0px;
    margin-left: -250%;
    transition: all 200ms;
  }
  .aside-menu {
    transition: all 200ms;
    margin-left: 0;
    height: 80px;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 20px;
  }
  .aside-menu.col-md-3 {
    padding: 0;
  }
  .aside-menu nav a {
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    color: #000000;
    transition: all 200ms;
  }
  .aside-menu nav a:hover {
    transition: all 200ms;
    background-color: #d2d2d2;
  }
}
@media (max-width: 361px) {
  div.menu-hidden {
    height: 0px;
    margin-left: -200%;
    transition: all 200ms;
  }
  .aside-menu {
    transition: all 200ms;
    margin-left: 0;
    height: 95px;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 20px;
  }
  .aside-menu.col-md-3 {
    padding: 0;
  }
  .aside-menu nav a {
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    color: #000000;
    transition: all 200ms;
  }
  .aside-menu nav a:hover {
    transition: all 200ms;
    background-color: #d2d2d2;
  }
}
/*div.menu-hidden {
  margin-left: -25%;
  transition: all 200ms;
}

.aside-menu {
  transition: all 200ms;
  margin-left: 0;
  &.col-md-3 {
    padding: 0;
  }
  nav {
    margin-top: 20px;
    a {
      padding: 20px;
      text-decoration: none !important;
      display: block;
      color: @black;
      transition: all 200ms;
      &:hover {
        transition: all 200ms;
        background-color: @gray;
      }
    }
  }
}
*/
.category {
  height: 150px;
  width: 100%;
  border: 1px solid #80CBC4;
  color: #009688;
  top: 100px;
  margin: 30px;
  font-family: SourceSansPro;
  font-size: 140%;
  font-weight: bold;
  text-align: center;
  line-height: 140px;
  background-color: #FAFAFA;
}
.category:focus {
  outline: 0;
}
.category:hover {
  background-color: #E0F2F1;
}
.filter-container {
  height: 100%;
}
.filter-container label {
  margin-left: 20px;
}
.filter-container p span {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.filter-container section {
  margin-bottom: 15px;
}
.filter-container section p {
  border-bottom: 1px solid #d2d2d2;
}
.filters-menu {
  border-right: 1px solid #d2d2d2;
}
.advanced {
  background-color: #009688;
  border: 1px solid #00897B;
  color: #ffffff;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}
.advanced:focus {
  outline: 0;
}
.info-message {
  line-height: 500px;
  width: 100%;
  text-align: center;
}
.info-icon {
  background-color: #009688;
  padding: 0px 13px;
  border-radius: 20px;
  font-style: initial;
  color: #ffffff;
}
.filter-results {
  top: 50px;
  width: 80%;
  margin: 0 auto;
}
.editColors {
  background-color: #FAFAFA;
  border: 1px solid #80CBC4;
  color: #009688;
}
.editColors:focus {
  outline: 0;
}
.editColor:hover {
  background-color: #80CBC4;
}
.dataScroll {
  height: 200px;
  overflow-y: scroll;
}
.dataScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #EEEEEE;
}
.dataScroll::-webkit-scrollbar {
  width: 2px;
  background-color: #F5F5F5;
}
.dataScroll::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #616161;
}
.canvas {
  widht: 100%;
}
.chartOptionsRow {
  margin: 0 20px !important;
}
.chartOptionsRow i {
  display: block;
  text-align: center;
}
.chartOptionsRow a {
  color: #009688;
  text-decoration: none;
}
.chartOptionsRow a:hover {
  color: #009688;
  text-decoration: none;
}
.chartOptionsRow select {
  color: #009688;
  border: 1px solid #009688;
}
@media (min-width: 992px) {
  .filtersShowHide {
    display: none;
  }
}
@media (max-width: 992px) {
  .filters-menu {
    height: 100%;
    border: 0px;
  }
  .filters-menu a span {
    margin: 0;
    top: 5px;
    font-size: 20px;
  }
  .filtersShowHide {
    display: inline-block;
    margin: 5px 0 0 5px;
    color: #009688;
    text-decoration: none;
  }
  .filtersShowHide:hover {
    text-decoration: none;
    color: #009688;
  }
  .filterType .checkbox {
    display: inline-block;
    width: 45%;
  }
  .filter-results + .col-md-4 {
    width: 40%;
  }
  .filter-results {
    width: 100% !important;
    padding: 0 !important;
  }
}
.settings-container {
  margin: 100px;
}
.settings-container label {
  margin-right: 10px;
}
.settingsSave {
  display: block;
  width: 90%;
  margin: 0 auto;
  background-color: #009688;
  border: 1px solid #00897B;
  height: 50px;
  color: #ffffff;
}
.fontBtn {
  background-color: #FAFAFA;
  border: 0px;
  width: 30px;
  margin: 0 15px;
}
.fontBtn-20 {
  font-size: 20px;
}
.fontBtn-25 {
  font-size: 25px;
}
.fontBtn-30 {
  font-size: 30px;
}
.fontBtn-35 {
  font-size: 35px;
}
.body25 {
  background-color: #FAFAFA !important;
  font-family: SourceSansPro !important;
  font-size: 25px !important;
  height: 100%;
}
.body25 label {
  font-size: 18px;
}
.body20 {
  background-color: #FAFAFA !important;
  font-family: SourceSansPro !important;
  font-size: 20px !important;
  height: 100%;
}
.body20 label {
  font-size: 15px;
}
.body30 {
  background-color: #FAFAFA !important;
  font-family: SourceSansPro !important;
  font-size: 30px !important;
  height: 100%;
}
.body30 label {
  font-size: 22px;
}
.body35 {
  background-color: #FAFAFA !important;
  font-family: SourceSansPro !important;
  font-size: 35px !important;
  height: 100%;
}
.body35 label {
  font-size: 26px;
}
@font-face {
  font-family: SourceSansPro;
  src: url('../css/fonts/SourceSansPro-ExtraLight.otf');
}
a {
  text-decoration: none !important;
}
