<div class="filter-container">
    <div class="row-fluid">
       <div class="col-md-3 filters-menu">
            <p><span>Filters</span></p>

            <section>
                <p> Group </p>
                <!-- | limitTo: 6 -->
                <section class="dataScroll" id="mySection">
                  <span ng-repeat="group in foodGroupOptions  ">
                    <label class="checkbox" for="{{group.id}}">
                      <input type="checkbox" ng-model="selectedFoodGroupOption" ng-change="filterByFoodGroup(group.id, selectedFoodGroupOption )" name="group" id="{{group.id}}" />
                      {{group.name | capitalize}}
                    </label>   
                  </span>  
                </section>
            </section>

            <section>
                <p> Source </p>
                <section class="dataScroll">
                  <span ng-repeat="source in foodSourceOptions | limitTo: 6">
                    <label class="checkbox" for="{{source.id}}">
                      <input type="checkbox" ng-model="selectedFoodGroupOption" ng-change="filterByFoodSource(source.id, selectedFoodGroupOption)" name="source" id="{{source.id}}" />
                      {{source.name | capitalize}}
                    </label>   
                  </span>  
                </section>
            </section>

            <section>
                <p> Food </p>
                <section class="dataScroll">
                  <span ng-repeat="food in foodOptions | limitTo: 6 ">
                    <label class="checkbox" for="{{food.foodId}}">
                      <input type="checkbox" ng-model="selectedFoodOption" ng-change="filterByFood(food.foodId, selectedFoodOption, $index)" name="group" id="{{food.foodId}}" />
                      {{food.description | capitalize}}
                    </label>   
                  </span>  
                </section>
            </section>

            <section>
                <p> Nutrients </p>
                <section class="dataScroll">
                  <span ng-repeat="nutrient in nutrientShortOptions">
                    <label class="checkbox" for="{{nutrient.id}}">
                      <input type="checkbox" ng-model="selectedNutrientOption" ng-change="filterByNutrient(nutrient.id, selectedNutrientOption, $index)" name="group" id="{{nutrient.id}}" />
                      {{nutrient.name | capitalize}}
                    </label>   
                  </span> 
                </section> 
            </section>

            <section>
                <p> Calories </p>
                <section class="dataScroll">
                  <span ng-repeat="calorie in calories">
                    <label class="checkbox" for="{{calorie.id}}">
                      <input type="checkbox" ng-model="selection.ids[calorie.id]" name="calorie" id="{{calorie.id}}" />
                      {{calorie.label | capitalize}}
                    </label>   
                  </span>  
                <section class="dataScroll">
            </section>  

            <!-- <button class="advanced">Advanced</button> -->
       </div>



       <div class="col-md-9 filter-results">

           <div class="info-message" ng-show="false"> 
                <p><i class='info-icon'>i</i> Please select filter options in order to see data representations</p>
           </div>

           <div ng-show="true">
                <div class="filter-crumbels"></div>

                <div class="row">
                    <div class="col-md-4">
                        <select name="chartTypeSelect" id="chartTypeSelect" ng-model="selectedChartType">
                          <option ng-repeat="option in availableCharts" value="{{option.id}}" ng-selected="changeChartType()">{{option.name}}</option>
                        </select>                        
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"><button class="editColors">Edit colors</button></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <canvas id="responseChart" height="100%" width="100%"></canvas>
                    </div>
                    <div class="col-md-1"></div>

                </div>
           </div>
       </div>
       
    </div>
</div>
