<div class="filter-container">
    <div class="row-fluid">
       <div class="col-md-3 filters-menu">
            <h3>Filters</h3>
            fedifun
            fdsfsd
            <p>fsdfds</p>
            <p>fsdfds</p>
            <p>fsdfds</p>
            <p>fsdfds</p>
            <p>fsdfds</p>
            <p>fsdfds</p>
            <p>fsdfds</p>
            <p>fsdfds</p>
            <p>fsdfds</p>
            <p>fsdfds</p>
            <p>fsdfds</p>
            <button class="advanced">Advanced</button>
       </div>

       <div class="col-md-9 filter-results">

           <div class="info-message" ng-show="false"> 
                <p><i class='info-icon'>i</i> Please select filter options in order to see data representations</p>
           </div>

           <div ng-show="true">
                <div class="filter-crumbels"></div>

                <div class="row">
                    <div class="col-md-4"><select></select></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"><button class="editColors">Edit colors</button></div>
                </div>
           </div>
       </div>
       
    </div>
</div>
