div.menu-hidden {
  margin-left: -25%;
  transition: all 200ms;
}

.aside-menu {
  transition: all 200ms;
  margin-left: 0;
  &.col-md-3 {
    padding: 0;
  }
  nav {
    margin-top: 20px;
    a {
      padding: 20px;
      text-decoration: none !important;
      display: block;
      color: @black;
      transition: all 200ms;
      &:hover {
        transition: all 200ms;
        background-color: @gray;
      }
    }
  }
}
